.blog {

    display: flex;
    flex-direction: column;
    &__img {
        flex: 1;
        max-width: 417px;
        max-height: 287px;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__description {
        max-width: 417.03px;
        max-height: 407px;
        height: 100%;
        width: 100%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #042C54;
    }

    &__date {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 11.649px;
        line-height: 35px;
        color: #fff;

    }

    &__content {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 25.11px;
        line-height: 30px;

        color: #fff;
    }


    &__actions {
        display: flex;
        justify-content: flex-start;
    }

    &__link {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 11.649px;
        line-height: 35px;

        color: #fff;
    }
}